<div>
    <h2 id="page-heading">
        <span jhiTranslate="nohaidragosApp.cadruDidactic.home.title">Cadru Didactics</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cadru-didactic" [routerLink]="['/cadru-didactic/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="nohaidragosApp.cadruDidactic.home.createLabel">
            Create new Cadru Didactic
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="cadruDidactics?.length === 0">
        <span jhiTranslate="nohaidragosApp.cadruDidactic.home.notFound">No cadruDidactics found</span>
    </div>
    <div class="table-responsive" *ngIf="cadruDidactics?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nume"><span jhiTranslate="nohaidragosApp.cadruDidactic.nume">Nume</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prenume"><span jhiTranslate="nohaidragosApp.cadruDidactic.prenume">Prenume</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="titlu"><span jhiTranslate="nohaidragosApp.cadruDidactic.titlu">Titlu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span jhiTranslate="nohaidragosApp.cadruDidactic.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="birou"><span jhiTranslate="nohaidragosApp.cadruDidactic.birou">Birou</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="departament.id"><span jhiTranslate="nohaidragosApp.cadruDidactic.departament">Departament</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cadruDidactic of cadruDidactics ;trackBy: trackId">
                <td><a [routerLink]="['/cadru-didactic', cadruDidactic.id, 'view' ]">{{cadruDidactic.id}}</a></td>
                <td>{{cadruDidactic.nume}}</td>
                <td>{{cadruDidactic.prenume}}</td>
                <td>{{cadruDidactic.titlu}}</td>
                <td>{{cadruDidactic.email}}</td>
                <td>{{cadruDidactic.birou}}</td>
                <td>
                    <div *ngIf="cadruDidactic.departament">
                        <a [routerLink]="['../departament', cadruDidactic.departament?.id, 'view' ]" >{{cadruDidactic.departament?.numeDepartament}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/cadru-didactic', cadruDidactic.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cadru-didactic', cadruDidactic.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'cadru-didactic', { outlets: { popup: cadruDidactic.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="cadruDidactics?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
